*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(135deg, #FFD700, #000000); */
    background-image: url('../assets/bg-home.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

::-webkit-scrollbar{
    height: .5rem;
    width: 0.5rem;
}
::-webkit-scrollbar-track{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    background-color: gold;
    border-radius: 5rem;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}
.logo-img {
    width: 40px; 
    height: auto;
    margin-right: 10px; 
    vertical-align: middle;
}

.logo a {
    font-size: 28px;
    font-weight: bold;
    color: gold;
    text-decoration: none;
    letter-spacing: 2px;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #ffd700;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: gold;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.nav-links li a:hover {
    background-color: gold;
    color: #000;
}

.register-btn {
    background-color: rgba(255, 217, 0, 0.524);
    color: #000;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 15px rgba(255, 215, 0, 0.5);
    transition: transform 0.3s ease, color 0.3s ease;
    
}

.register-btn:hover {
    transform: scale(1.1);
    color: #000;
    box-shadow: 0 6px 20px rgba(255, 215, 0, 0.7);
}

/* Mobile Menu (Burger) */
.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: gold;
    transition: all 0.3s ease;
}

/* Animations */
.nav-links li {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.container {
    background-color: rgba(0, 0, 0, 0.70);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 90vh;
}

h1 {
    text-align: center;
    color: goldenrod;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"],
input[type="email"],
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
}

button {
    background-color: #FFD700;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.qr-code {
    max-width: 100%;
    height: 100%;
    
}

.event-group,
.category-options {
    display: none;
}

.category-options {
    margin-left: 15px;
    margin-bottom: 10px;
}

h4 {
    color: #000;
    margin-top: 10px;
}

/* Media Queries */


/* Responsive nav*/
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }

    .nav-links li {
        opacity: 0;
        margin-top: 30px;
    }

    .nav-links.nav-active {
        transform: translateX(0);
    }

    .nav-links.nav-active li {
        opacity: 1;
    }

    .burger {
        display: flex;
    }

    .burger.toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .burger.toggle .line2 {
        opacity: 0;
    }

    .burger.toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
}


/* register */
@media (min-width: 1024px) {
    .container {
        max-width: 700px;
    }
}

@media (max-width: 768px) {
    .container {
        position: relative;
        top: 50px;
        padding: 15px;
        margin: 0 10px;
        height: 90vh;
    }
    input,
    button {
        padding: 8px;
    }
}


.reg_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 2rem ;
}

.reg_links a {
    text-decoration: none;
    color: gold;
    padding: 2rem 3rem;
    border-bottom: 3px solid gold;
    width: 100%;
    transition: background-image 3s ease;
    border-radius: 10px 0 0 0;
}

.reg_links a:hover {
    border-bottom: 2px solid gold; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1), rgba(255, 215, 0));

}
